html 
    head 
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" , rel="stylesheet" , integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" , crossorigin="anonymous")
        title= title
        link(rel="stylesheet", href="style.css")
    body 
        nav(class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark")
            a.navbar-brand(href="#") Z-CASHER 
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            div.collapse.navbar-collapse#navbarNav
                ul.navbar-nav
                    //- li.nav-item.active
                    //-     a.nav-link(href="/products/home") Home 
                        span.sr-only.current
                    li.nav-item
                        a.nav-link(href="/listUsers") List Users
                    li.nav-item
                        a.nav-link(href="/") Logout
                    li.nav-item
                        a.nav-link(href="/signUp") Add User
        div.container-fluid
            span.row.wid
                each product in products 
                    div.card.card-header.m-3(style="width:18%")
                        img.card-img-top(src="https://via.placeholder.com/150" alt= product.description)
                        div.card-body
                            h5.card-title= product.name
                            p.card-text= product.price
                            p.card-text= product.store
                            button.btn-success(id=`/${product._id}`, onclick= (`addTo("${product.id}")`) ) Add to cart
                            a.btn.btn-primary.mx-2(href=`/products/edit/${product._id}`) Edit
                            form(method="POST", action=`/products/del/${product._id}` style="display: inline") 
                                button(type="submit" class="btn btn-danger") Delete
                            script.
                                const addTo = (prod) => {
                                    console.log(prod)
                                    
                                }

                div.card.card-header.m-3(style="width:18%")
                        img.card-img-top(src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/OOjs_UI_icon_add.svg/1200px-OOjs_UI_icon_add.svg.png" alt="Card image cap")
                        a.btn.btn-success.btn-lg.mx-3.p-5(href=`/products/Add`) Add New
            span.wid.col-4
                ul.list-group
                    li.list-group-item Cras justo odio
                